@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url(../fonts/altehaasgroteskbold-webfont.woff2) format("woff2"), url(../fonts/altehaasgroteskbold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
  }
  
  @font-face {
    font-family: 'Lavanderia';
    src: url(../fonts/lavanderia_regular-webfont.woff2) format("woff2"), url(../fonts/lavanderia_regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url(../fonts/opensans-regular-webfont.woff2) format("woff2"), url(../fonts/opensans-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal
  }
  
  
  body {
      line-height: 1;
    
     
  }
  .head {
    background-image: url(../img/img-head.jpg);
    background-size: cover;
    width: 1700px;
      min-height: 50px;
      margin: auto;
      height:700px;
  
     
    
  }
  
  .navbar {  background-color: rgba(255, 255, 255, 0.7);
    min-height: 50px;
    padding-left: 100px;
    padding-right: 100px;
    
   
  }
  .sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
  }
  #sect {
    display: flex;
    align-items: center;
  }
  
  
  .navbar {

    justify-content: center;
    display: flex;
  }
  .img1{ background-color: pink;
  
    border: 2px solid pink;
  }
  span {
    font-family:'Lavanderia' ;
    font-size: xx-large;
    
  
  }
  .graff{ color: pink;}
  
  h1{
    font-family: 'Alte Haas Grotesk';
    font-size: 68.99px;
   
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
   
    
    
  }
  h4{
    font-size: 25px;
    color: #404040;
  
    margin-top: 25px;
    margin-bottom: 25px;
  }